In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("langdet_ap24.csv")
data.head()

                                                Text Language
0   Nature, in the broadest sense, is the natural...  English
1  "Nature" can refer to the phenomena of the phy...  English
2  The study of nature is a large, if not the onl...  English
3  Although humans are part of nature, human acti...  English
4  [1] The word nature is borrowed from the Old F...  English

In [3]:
data['Language'].value_counts()

Language
English       1385
French        1014
Spanish        819
Portugeese     739
Italian        698
Russian        692
Sweedish       676
Malayalam      594
Dutch          546
Arabic         536
Turkish        474
German         470
Tamil          469
Danish         428
Kannada        369
Greek          365
Hindi           63
Name: count, dtype: int64

In [7]:
data['Language'].value_counts().shape

(17,)

In [8]:
data.head()

                                                Text Language
0   Nature, in the broadest sense, is the natural...  English
1  "Nature" can refer to the phenomena of the phy...  English
2  The study of nature is a large, if not the onl...  English
3  Although humans are part of nature, human acti...  English
4  [1] The word nature is borrowed from the Old F...  English

In [12]:
from string import punctuation
from nltk import word_tokenize
from nltk.corpus import stopwords

In [13]:
def clean_text(txt):
    txt = txt.lower()
    txt = word_tokenize(txt)
    txt = [t for t in txt if t not in punctuation]
    txt = [t for t in txt if t not in stopwords.words("english")]
    txt = " ".join(txt)
    return txt

In [14]:
data["clean_Text"] = data["Text"].apply(clean_text)
data

,Text,Language,clean_Text
0,"Nature, in the broadest sense, is the natural...",English,nature broadest sense natural physical materia...
1,"""Nature"" can refer to the phenomena of the phy...",English,`` nature '' refer phenomena physical world al...
2,"The study of nature is a large, if not the onl...",English,study nature large part science
3,"Although humans are part of nature, human acti...",English,although humans part nature human activity oft...
4,[1] The word nature is borrowed from the Old F...,English,1 word nature borrowed old french nature deriv...
...,...,...,...
10332,ನಿಮ್ಮ ತಪ್ಪು ಏನು ಬಂದಿದೆಯೆಂದರೆ ಆ ದಿನದಿಂದ ನಿಮಗೆ ಒ...,Kannada,ನಿಮ್ಮ ತಪ್ಪು ಏನು ಬಂದಿದೆಯೆಂದರೆ ಆ ದಿನದಿಂದ ನಿಮಗೆ ಒ...
10333,ನಾರ್ಸಿಸಾ ತಾನು ಮೊದಲಿಗೆ ಹೆಣಗಾಡುತ್ತಿದ್ದ ಮಾರ್ಗಗಳನ್...,Kannada,ನಾರ್ಸಿಸಾ ತಾನು ಮೊದಲಿಗೆ ಹೆಣಗಾಡುತ್ತಿದ್ದ ಮಾರ್ಗಗಳನ್...
10334,ಹೇಗೆ ' ನಾರ್ಸಿಸಿಸಮ್ ಈಗ ಮರಿಯನ್ ಅವರಿಗೆ ಸಂಭವಿಸಿದ ಎ...,Kannada,ಹೇಗೆ ನಾರ್ಸಿಸಿಸಮ್ ಈಗ ಮರಿಯನ್ ಅವರಿಗೆ ಸಂಭವಿಸಿದ ಎಲ್...
10335,ಅವಳು ಈಗ ಹೆಚ್ಚು ಚಿನ್ನದ ಬ್ರೆಡ್ ಬಯಸುವುದಿಲ್ಲ ಎಂದು ...,Kannada,ಅವಳು ಈಗ ಹೆಚ್ಚು ಚಿನ್ನದ ಬ್ರೆಡ್ ಬಯಸುವುದಿಲ್ಲ ಎಂದು ...
10336,ಟೆರ್ರಿ ನೀವು ನಿಜವಾಗಿಯೂ ಆ ದೇವದೂತನಂತೆ ಸ್ವಲ್ಪ ಕಾಣು...,Kannada,ಟೆರ್ರಿ ನೀವು ನಿಜವಾಗಿಯೂ ಆ ದೇವದೂತನಂತೆ ಸ್ವಲ್ಪ ಕಾಣು...

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [18]:
tv = TfidfVectorizer()
vector = tv.fit_transform(data["clean_Text"])
vector

<10337x39832 sparse matrix of type '<class 'numpy.float64'>'
	with 151903 stored elements in Compressed Sparse Row format>

In [21]:
features = pd.DataFrame(vector.toarray(),columns=tv.get_feature_names_out())
print(features)
target = data["Language"]

        00  000  000க  001  001097666virtual  004  020   03  034  054  ...  \
0      0.0  0.0   0.0  0.0               0.0  0.0  0.0  0.0  0.0  0.0  ...
1      0.0  0.0   0.0  0.0               0.0  0.0  0.0  0.0  0.0  0.0  ...
2      0.0  0.0   0.0  0.0               0.0  0.0  0.0  0.0  0.0  0.0  ...
3      0.0  0.0   0.0  0.0               0.0  0.0  0.0  0.0  0.0  0.0  ...
4      0.0  0.0   0.0  0.0               0.0  0.0  0.0  0.0  0.0  0.0  ...
...    ...  ...   ...  ...               ...  ...  ...  ...  ...  ...  ...
10332  0.0  0.0   0.0  0.0               0.0  0.0  0.0  0.0  0.0  0.0  ...
10333  0.0  0.0   0.0  0.0               0.0  0.0  0.0  0.0  0.0  0.0  ...
10334  0.0  0.0   0.0  0.0               0.0  0.0  0.0  0.0  0.0  0.0  ...
10335  0.0  0.0   0.0  0.0               0.0  0.0  0.0  0.0  0.0  0.0  ...
10336  0.0  0.0   0.0  0.0               0.0  0.0  0.0  0.0  0.0  0.0  ...

        ർസ  ൽ301   ൽക   ൽഗ   ൽത   ൽപ  ൽവർ   ൾക   ൾപ   ൾമ
0      0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1      0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2      0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3      0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4      0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...   ...  ...  ...  ...  ...  ...  ...  ...  ...
10332  0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10333  0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10334  0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10335  0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10336  0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[10337 rows x 39832 columns]

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score
from sklearn.naive_bayes import MultinomialNB,GaussianNB,BernoulliNB

In [23]:
x_train,x_test,y_train,y_test = train_test_split(features.values,target)

In [24]:
model = MultinomialNB()
model.fit(x_train,y_train)

cr = classification_report(y_test,model.predict(x_test))
print(cr)

              precision    recall  f1-score   support

      Arabic       1.00      0.88      0.93       147
      Danish       1.00      0.86      0.93       110
       Dutch       1.00      0.94      0.97       136
     English       0.74      1.00      0.85       367
      French       0.93      0.98      0.96       259
      German       1.00      0.92      0.96       129
       Greek       1.00      0.94      0.97        83
       Hindi       1.00      0.67      0.80        15
     Italian       0.99      0.94      0.96       155
     Kannada       1.00      0.92      0.96        93
   Malayalam       1.00      0.99      0.99       154
  Portugeese       0.99      0.98      0.99       171
     Russian       1.00      0.91      0.96       176
     Spanish       0.99      0.95      0.97       200
    Sweedish       0.96      0.96      0.96       161
       Tamil       1.00      0.98      0.99       115
     Turkish       1.00      0.70      0.82       114

    accuracy                           0.94      2585
   macro avg       0.98      0.91      0.94      2585
weighted avg       0.95      0.94      0.94      2585

In [ ]:
model = BernoulliNB()
model.fit(x_train,y_train)

cr = classification_report(y_test,model.predict(x_test))
print(cr)